*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --intro-and-email-sign-up-background-dark-blue: hsl(217, 28%, 15%);
    --main-background-dark-blue: hsl(218, 28%, 13%);
    --footer-background-drak-blue: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);
    --cta-gradiant-start-cyan: hsl(176, 68%, 64%);
    --cta-gradiant-end-blue: hsl(198, 60%, 50%);
    --error-ligh-red: hsl(0, 100%, 63%);
    --white: white;
}

html {
    font-size: 62.5%; /* 1rem == 10px*/
}

body {
    color: var(--white);
}

header, .start{
    background: var(--intro-and-email-sign-up-background-dark-blue);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 8rem 8rem;
}

.header__Buttons {
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

.header-Button {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white);
}

main{
    background: var(--main-background-dark-blue);
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30rem;

    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: center bottom;

    text-align: center;
}

.section-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    padding: 3rem 0;
}

.start__info {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    padding: 0 10rem 3rem 10rem;
}

.button {
    padding: 1.8rem 8rem;
    border-radius: 10rem;
    border: none;
    transition: all;

    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);

    background: linear-gradient(90deg, var(--cta-gradiant-start-cyan), var(--cta-gradiant-end-blue));
}

.button:active {
    background: var(--cta-gradiant-start-cyan);
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10rem;

    padding: 16rem 20rem;

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.grid-item {
}

.grid__img {
    padding-bottom: 2rem;
}

.grid__header {
    padding-bottom: 1rem;
}

.productive{
    padding: 0 10rem 10rem;
    display: flex;
    justify-content: space-between;
}

.prod__text-container {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.prod__text {
    padding-bottom: 2rem;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;

    max-width: 60ch;
}

.prod__btn {
    padding-bottom: .5rem;

    border: none;
    border-bottom: 2px solid var(--cta-gradiant-start-cyan);
    background: none;

    color: var(--cta-gradiant-start-cyan);
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;

    transition: all;
}

.prod__btn:active {
    color: var(--white);
    border-bottom: 2px solid var(--white);
}

.reviews {
    margin: 0 10rem 20rem;
    padding: 3rem 1.5rem 0;
    background-image: url(./images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: top left;

    display: flex;
    justify-content: space-between;
}

.review-box {
    background-color: var(--testimonials-background);
    padding: 5rem 3rem 2rem;
    border-radius: 1rem;
    
    box-shadow: 1rem 1rem var(--footer-background-drak-blue);

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.rb__text {
    padding-bottom: 2rem;
    max-width: 38ch;
}

.rb__user {
    justify-self: flex-start;
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.rb__user__img {
    border-radius:50%;
    height: 3rem;
    width: 3rem;

    grid-area: 1 / 1 / 3 / 2;
}

.rb__user__name {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 1.3rem;
}

.rb__user__title {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1.2rem;
}

.call-to-action {
    background: linear-gradient(180deg, var(--main-background-dark-blue) 0, var(--main-background-dark-blue) 50%, var(--footer-background-drak-blue) 50%, var(--footer-background-drak-blue) 100%);

    padding-bottom: 10rem;
}

.cta {
    background: var(--intro-and-email-sign-up-background-dark-blue);
    
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 10rem 3rem;

    border-radius: 2rem;

    text-align: center;
}

.cta__header {
    padding: 0 0 2rem;
}

.cta__text {
    padding-bottom: 3rem;
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.cta__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr .5fr;
    row-gap: 1rem;
    column-gap: 3rem;
}

/*
.cta__form:invalid  .from__error {
    display: inline;
    color: var(--error-ligh-red);
}
*/

.form__email {
    grid-area: 1 / 1 / 2 / 3;
    border-radius: 10rem;
    padding-left: 4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.form__email:focus {
    outline: none;
}

.form__button {
    grid-area: 1 / 3 / 2 / 4;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
    font-size: 1.8rem;
}

.form__error {
    grid-area: 2 / 1 / 3 / 2;
    color: var(--error-ligh-red);
    display: none;
}